# Data files
properties_2016.csv
properties_2016.csv.zip
sample_submission.csv
sample_submission.csv.zip
train_2016_v2.csv
train_2016_v2.csv.zip
zillow_data_dictionary.xlsx
zillow_data_dictionary.xlsx.zip
packrat/lib*/
# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# RStudio files
.Rproj.user/
.Rprofile
.Rproj.user
